{% extends "appbuilder/base.html" %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="fullscreen-bg" xmlns="http://www.w3.org/1999/html">
        <video loop muted autoplay poster="../static/img/videoframe.jpg" class="fullscreen-bg__video">
            <source src="{{ url_for('static', filename='gear-wallpaper.webm') }}" type="video/webm">
        </video>
    </div>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel login-paper">
                <div style="padding-top:30px" class="panel-body">


                    <form class="form" action="" method="post" name="login">
                        {{ form.hidden_tag() }}
                        <div class="control-group{% if form.errors.openid %} error{% endif %}">
                            <div class="controls login-center">
                                <div class="login-line">
                                    <label class="control-label login-font" for="openid">{{ _("Mail") }}</label>
                                    <div class="input-group login-input">
                                        {{ form.username(size = 80, class = "form-control") }}
                                    </div>
                                    {% for error in form.errors.openid %}
                                        <span class="help-inline">[{{ error }}]</span><br>
                                    {% endfor %}

                                </div>
                                <div class="login-line">
                                    <label class="control-label login-font" for="openid">{{ _("Contraseña") }}</label>
                                    <div class="input-group login-input">
                                        {{ form.password(size = 80, class = "form-control") }}
                                    </div>
                                    {% for error in form.errors.openid %}
                                        <span class="help-inline">[{{ error }}]</span><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <br>
                                <div>
                                    <div class="ramika-button">
                                        <img class="bottom"  src="../static/img/button_s.png"/>
                                        <img class="top"  src="../static/img/button_h.png"/>
                                        <input class="login-font" type="submit"
                                               value="{{ _('Ingresar') }}">
                                    </div>

                                    {% if appbuilder.sm.auth_user_registration %}
                                        <a href="{{ appbuilder.sm.get_url_for_registeruser }}"
                                           class="btn btn-block btn-primary" data-toggle="tooltip" rel="tooltip"
                                           title="{{ _('If your not already a user, please register') }}">
                                            {{ _('Register') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}